header
{
    background:rgb(47,46,46);
}
.link
{
    text-decoration:none;
    text-transform: capitalize;
    color:white;
    font-size:12px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight:bold;
    padding:23.5px;
    margin-top:20px;
    margin-right:-20px;
}
.link-insc
{
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-decoration: none;
    color: black;
    border: solid 0.5px;
    border-color: rgb(250,208,0);
    background: rgb(250,208,0);
    border-radius: 41px 41px 41px 41px;
    margin-left: 84px;
    margin-right: 50px;
    margin-bottom: 17px;
    margin-top: 24px;
    padding-right: 22px;
    padding-left: 22px;
    padding-top: 10px;
}
.link:hover, .link-insc:hover, .botaores:hover
{
    transition: 0.5s;
}
.link-insc:hover
{
    border-color:rgb(134,228,190);
    background:white;
    color: rgb(133,77,255);
}
.link:hover
{
    color:rgb(250,208,0);
}

.inscricaores
{
    margin-top:5px;
}
.textoformmaior
{
    font-size:35px;
    font-family: Arial, Helvetica, sans-serif;
    text-align:center;
    font-weight:bold;
}
.textoform
{
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    text-align:center;
    padding:5px;
}
.textoform .dentro
{
    background:rgb(250,208,0);
    font-weight:bold;
}
.classtraco {
    margin-top:10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
input::placeholder {
    color: rgb(61,59,77);
    font-family:sans-serif;
    font-style:italic;
    font-size:16px;
}
.formres
{
    margin-bottom:10px;
    border: rgb(250,208,0) solid 3px;
    border-radius:6px 6px 6px 6px;
    width: 476px;
    height: 53px;
    padding: 3px 3px 3px 25px;
}
.formres:hover
{
    background:rgb(134,228,190);
    cursor:default;
}
.botaores
{
    background-color:rgb(250,208,0);
    width:510px;
    height:60px;
    border-radius:41px 41px 41px 41px;
    font-weight:bold;
    border:rgb(250,208,0) solid;
}
.botaores:hover
{
    border: 0.5px solid rgb(134,228,190);
    background:white;
    color: rgb(133,77,255);
}